app:
    resource: '@AppBundle/Controller/'
    type: annotation

AppBundle:
    resource: '@AppBundle/Controller/'
    type:     annotation
    prefix:   /app

# redirecting the root
root:
    path: /
    defaults:
        _controller: AppBundle:Movie:index
        path: /app
        permanent: true


program:
    path:     /program
    defaults: { _controller: AppBundle:Program:index }

movieDelete:
    path:     /movie/delete/{movieId}
    defaults: { _controller: AppBundle:Movie:delete }

movieDetails:
    path:     /movie/details/{movieId}
    defaults: { _controller: AppBundle:Movie:details }

programPartial :
    path:     /program/programPartial/{weekOffset}
    defaults: { _controller: AppBundle:Program:programPartial }

savesubscribe :
    path:     /subscribe/save/
    defaults: { _controller: AppBundle:Subscribe:save }
#index:
#    path:     /index/index
#    defaults: { _controller: AppBundle:Program:index }
#
#create:
#    path:     /index/create
#    defaults: { _controller: AppBundle:Movie:create }
#
#show:
#    path:     /index/show/{movieId}
#    defaults: { _controller: AppBundle:Movie:show }
#
#
#new:
#    path:     /index/new/
#    defaults: { _controller: AppBundle:Movie:movies }